{
  "extends": ["sanity", "prettier"],
  "env": {"node": true, "browser": false},
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "complexity": ["error", {"max": 15}]
  }
}
